@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap');

$green: #27300f;
$orange: #d26a22;
$white: #fff;

$font-jost: 'Jost', sans-serif;
$font-cormorant: 'Cormorant', serif;;

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: $font-jost;
    color: $green;
}

.header {
     max-width: 1440px;
     margin: 0 auto 4.7rem;
     padding: 4rem 15px 0 15px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     &__menu  {
         flex-basis: 57%;
     }
     &__nav {
         display: flex;
         list-style-type: none;
         margin: 0;
         padding-left: 0;
         gap: 4.8rem;
     }
     &__link {
         color: $green;
         text-decoration: none;
         &:hover {
             color: $orange;
         }
     }
     &__tel {
        color: $green;
        font-weight: 500;
        text-decoration: none;
        font-size: 18px;
        &:hover {
            color: $orange;
        }
     }
     &__cart {
         display: block;
         width: 4rem;
         height: 4rem;
         border-radius: 100%;
         background-color: $orange;
         background-image: url(../images/cart.svg);
         background-repeat: no-repeat;
         background-position: center center;
         background-size: 1.7rem 1.5rem;
         position: relative;
         border: 1px solid $orange;
         &:hover {
            background-color: $green;
            border: 1px solid $green;
        }
     }
     &__counter {
         font-size: .8rem;
         color: $white;
         position: absolute;
         right: 1rem;
         top: .6rem;
     }
}
.logo {
    display: block;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 12rem;
    height: 3.2rem;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.main {
    background-image: url(../images/main.png);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 187px;
    z-index: 0;
    &__text {
        padding-top: 4.2rem;
    }
    &__item {
        margin-left: 12rem;
        max-width: 378px;
        margin-top: 6rem;
    }
    &__link {
        margin-top: 5.7rem;
    }
    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }
    &__cover {
        flex-basis: 758px;
        height: 758px;
        border: 1px solid rgba($green, .4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    &__line {
        width: 656px;
        height: 656px;
        border: 1px solid rgba($green, .4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__image {
        width: 92%;
    }
    &__btn {
        background-color: transparent;
        border: none;
        padding: 0;
        position: absolute;
        color: $green;
        text-align: left;
        &:hover {
            &::before {
                background-color: $orange;
                box-shadow: 0 0 0 4px $white, 0 0 0 5px $orange;
            }
        }
        &::before {
            content: '';
            position: absolute;
            background-color: $green;
            width: 11px;
            height: 11px;
            box-shadow: 0 0 0 4px $white, 0 0 0 5px $green;
            border-radius: 100%;
        }
        &_1 {
            top: 46px;
            left: 66px;
            &::before {
                bottom: 9px;
                right: -35px;
            }
        }
        &_2 {
            top: 194px;
            right: 4px;
            &::before {
                top: 17px;
                right: 88px;
            }
        }
        &_3 {
            bottom: -48px;
            right: 246px;
            &::before {
                bottom: 55px;
                right: 30px;
            }
        }
    }
    &__food {
        display: block;
        color: rgba($green, .8);
        padding-bottom: 5px;
    }
    &__tomato {
        position: absolute;
        bottom: 110px;
        right: 111px;
        width: 11rem;
        z-index: -1;
    }
    &__avocado {
        position: absolute;
        top: 51px;
        right: 11px;
        width: 15rem;
        z-index: -1;
    }
    &__cucumber {
        position: absolute;
        top: 0;
        left: 680px;
        width: 8.5rem;
        z-index: -1;
    }
    &__pepper {
        position: absolute;
        top: 398px;
        left: 29px;
        width: 8.6rem;
        z-index: -1;
    }
    &__beans {
        position: absolute;
        bottom: 152px;
        left: -9px;
        width: 11.5rem;
        z-index: -1;
    }
}
.title {
    font-family: $font-cormorant;
    font-weight: 700;
    font-size: 8rem;
    line-height: 1;
    margin: 0;
    &__span {
        font-style: italic;
    }
    &_block {
        .title__span {
            display: block;
        }
    }
}
.description {
    margin: 0;
    line-height: 1.5;
    &_size-s {
        font-size: 1.8rem;
    }
    &_size-m {
        font-size: 2.4rem;
    }
}
.link {
    color: $white;
    letter-spacing: 0.13rem;
    text-transform: uppercase;
    padding: 2.3rem 4.1rem;
    background-color: $orange;
    box-shadow: 0px 1rem 1.1rem .2rem rgba(207, 92, 13, 0.2);
    text-decoration: none;
    border-radius: 3.8rem;
    display: inline-block;
    border: none;
    &_max {
        padding: 2.3rem 5rem;
    }
    &_min {
        font-size: 1.4rem;
        padding: 2rem 3.4rem;
        box-shadow: 0px 1rem 1.1rem .17rem rgba(207, 92, 13, 0.15);
    }
} 

.offer {
    background-image: url(../images/offer.png);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    padding-top: 2rem;
    padding-bottom: 16.5rem;
    &__text {
        margin-top: 6rem;
        max-width: 700px;
    }
}

.slider {
    overflow: hidden;
    padding-top: 9.4rem;
}

.swiper {
    overflow: initial;
    &-slide {
        border: 1px solid rgba($green, 0.4);
        border-radius: 2rem;
        padding: 4rem 3.7rem;
        box-sizing: border-box;
        height: 520px;
        display: flex;
        flex-direction: column;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        z-index: 0;
        &_white {
            justify-content: flex-end;
            &:hover {
                .swiper-slide__hover {
                    height: 233px;
                    opacity: 1;
                }
                &::after {
                    content: '';
                    background-color: rgba($white, .55);
                    width: calc(100% - 4px);
                    height: calc(100% - 4px);
                    position: absolute;
                    top: 2px;
                    left: 2px;
                    border-radius: 2rem;
                    z-index: -1;
                }
            }
        }
        &:hover {
            box-shadow:  0 0 0 2px rgba($green, 0.4) inset;
        }
        &_milk {
            background-image: url(../images/milk.png);
        }
        &_pasta {
            background-image: url(../images/pasta.png);
        }
        &_steaks {
            background-image: url(../images/steaks.png);
        }
        &__title {
            font-family: $font-cormorant;
            font-size: 3rem;
            color: $green;
            margin-top: 5rem;
            margin-bottom: 0;
        }
        &__hover {
            height: 0;
            opacity: 0;
        }
        &__text {
            color: rgba($green, .7);
            line-height: 1.5;
            margin-top: 2.5rem;
            margin-bottom: 3.4rem;
            max-width: 263px;
        }
        &__link {
            text-transform: uppercase;
            font-weight: 500;
            color: $green;
            text-decoration: none;
            display: flex;
            align-items: center;
            gap: 2rem;
            letter-spacing: 0.1rem;
            opacity: .8;
            &::before {
                content: '';
                display: block;
                width: 3rem;
                height: 3rem;
                background-image: url(../images/plus1.svg);
                background-size: cover;
                background-repeat: no-repeat;

            }
        }
        &_height {
            height: 685px;
        }
        &__cover {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 293px;
            text-align: center;
        }
        &__image {
            height: 100%;
        }
        &__description {
            font-size: 18px;
            max-width: 29.7rem;
            line-height: 1.5;
            margin-top: 2.2rem;
            min-height: 55px;
        }
        &__price {
            font-size: 2.4rem;
            margin-top: 0.8rem;
            margin-bottom: 3.2rem;
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    &-pagination {
        display: none;
    }
    &-button-next, &-button-prev {
        top: -60px;
        &:hover {
            &::after {
                color: rgba($green, 1);
            }
        }
        &::after {
            color: rgba($green, .4);
            font-size: 20px;
        }
    }
    &-button-next {
        right: -8px;
    }
    &-button-prev {
        left: initial;
        right: 82px;
    }
}

.counter {
    display: flex;
    &__btn {
        cursor: pointer;
        width: 50px;
        height: 50px;
        border: 1px solid $green;
        background-color: transparent;
        padding: 0;
        background-position: center center;
        border-radius: 100%;
        &_min {
            width: 40px;
            height: 40px;
        }
    }
    &__minus {
        pointer-events: none;
        background-image: url(../images/minus.svg);
        background-size: 20px 11px;
        background-repeat: no-repeat;
        opacity: .4;
    }
    &__plus {
        background-image: url(../images/plus.svg);
        background-size: 20px 11px;
        background-repeat: no-repeat;
    }
    &__input {
        text-align: center;
        font-size: 2.4rem;
        width: 46px;
        border: none;
        padding: 0;
        &_min {
            width: 33px;
        }
    }
}

.about {
    padding-bottom: 19.3rem;
    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 7rem;
    }
    &__text {
        margin-left: 12rem;
        flex-basis: 620px;
    }
    &__list {
        list-style: none;
        display: flex;
        gap: 9rem;
        font-family: $font-cormorant;
        font-style: italic;
        font-size: 3rem;
        margin: 0;
        padding-left: 0;
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &::before {
            content: '';
            width: 84px;
            height: 84px;
            background-position: center center;
            background-repeat: no-repeat;
            border: 1px solid rgba($green, .4);
            border-radius: 100%;
            margin-bottom: 1.5rem;
        }
        &:nth-child(1) {
            &::before {
                background-image: url(../images/about1.svg);
                background-size: 44px 41px;
            }
        }
        &:nth-child(2) {
            &::before {
                background-image: url(../images/about2.svg);
                background-size: 40px 40px;
            }
        }
        &:nth-child(3) {
            &::before {
                background-image: url(../images/about3.svg);
                background-size: 45px 39px;
            }
        }
    }
}

.trends {
    padding-bottom: 18.9rem;
    &__text {
        margin: 3.8rem 0 -0.9rem;
    }
}

.category {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 48px;
    &__item {
        flex-basis: 230px;
        text-align: center;
    }
    &__link {
        padding: 2.4rem 0;
        border: 1px solid rgba($green, .5);
        color: rgba($green, .5);
        font-size: 1.8rem;
        text-decoration: none;
        border-radius: 4rem;
        display: block;
        &:hover {
            border: 1px solid $orange;
            color: $orange;
        }
    }
}

.catalog {
    padding-bottom: 14.2rem;
    &__text {
        margin-top: 37px;
        margin-bottom: 87px;
    }
    &__btn {
        text-transform: uppercase;
        font-weight: 500;
        color: $green;
        background-color: transparent;
        border: none;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin: 0 auto;
        gap: 1.5rem;
        letter-spacing: 0.1rem;
        opacity: .8;
        margin-top: 59px;
        cursor: pointer;
        &::before {
            content: '';
            display: block;
            width: 2.5rem;
            height: 2.5rem;
            background-image: url(../images/refresh.svg);
            background-size: cover;
            background-repeat: no-repeat;

        }
    }
}

.catalog-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    &__item {
        border: 1px solid rgba($green, .4);
        border-radius: 2rem;
        padding: 2.7rem 1.7rem 3.7rem 3rem;
        box-sizing: border-box;
        &:hover {
            box-shadow: 0 0 0 2px rgba($green, .4) inset;   
        }
    }
    &__cover {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 205px;
        text-align: center;
    }
    &__image {
        width: 100%;
        max-width: 351px;
        height: 100%;
        object-fit: contain;
    }
    &__sause {
        width: 68%;
    }
    &__title {
        font-family: $font-cormorant;
        font-size: 3rem;
        color: $green;
        margin-top: 1.7rem;
        margin-bottom: 0;
    }
    &__description {
        font-size: 1.6rem;
        color: rgba($green, .7);
        margin-top: 1.8rem;
        margin-bottom: 0;
        min-height: 61px;
        max-width: 243px;
        line-height: 1.5;
    }
    &__price {
        font-size: 2.4rem;
        margin-bottom: 3rem;
        margin-top: 0;
    }
    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.delivery {
    &__box {
        display: flex;
        justify-content: flex-start;
        gap: 8.5%;
        margin-top: 5.7rem;
        margin-left: 12.3rem;
    }
    &__left {
        flex-basis: 620px;
    }
    &__text-1 {
        margin-bottom: 2.7rem;
    }
    &__link {
        color: $green;
        text-decoration: none;
        cursor: pointer;
        position: relative;
        &::after {
            content: '';
            width: 100%;
            height: 1px;
            background-color: #858881;
            display: block;
            position: absolute;
            left: 0;
            bottom: 2px;
        }
    }
    &__orange {
        color: $orange;
    }
    &__right {
        flex-basis: 36%;
        padding-top: 18px;
    }
    &__list {
        list-style: none;
        display: flex;
        gap: 3rem;
        margin-top: 46px;
        padding-left: 0;
    }
    &__item {
        height: 32px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        opacity: 0.4;
        cursor: pointer;
        &:hover {
            opacity: 1;
        }
    }
    &__mastercard {
        width: 53px;
        background-image: url(/src/images/mastercard.svg);
    }
    &__visa {
        width: 74px;
        background-image: url(/src/images/visa.svg);
    }
    &__paypal {
        width: 87px;
        background-image: url(/src/images/paypal.svg);
    }
}

.contact {
    padding-top: 18.4rem;
    padding-bottom: 100px;
    &-box {
        display: flex;
        justify-content: space-between;
        &__left {
            margin-top: 27px;
        }
        &__text {
            max-width: 40rem;
            flex-grow: 1;
            font-size: 1.8rem;
            line-height: 1.4;
            margin-top: 64px;
            margin-left: 120px;
        }
        &__list {
            display: flex;
            flex-direction: column;
            gap: 13px;
            font-size: 2.4rem;
            padding: 0;
            margin-top: 61px;
        }
        &__item {
            list-style: none;
        }
        &__link {
            color: $green;
            text-decoration: none;
            font-weight: 500;
            display: flex;
            align-items: center;
            gap: 3rem;
            &::before {
                content: '';
                background-repeat: no-repeat;
                background-position: center;
                display: block;
                width: 3rem;
                height: 3rem;
            }
        }
        &__tel {
            &::before {
                background-image: url(../images/phone.svg);
                background-size: 31px 28px;
            }
        }
        &__email {
            &::before {
                background-image: url(../images/mail.svg);
                background-size: 28px 40px;
                padding-bottom: 4px;
            }
        }
        &__form {
            flex-basis: 589px;
        }
    }
}
  
.card {
    border: 2px solid rgba($green, .4);
    padding: 3.2rem 5.8rem 4rem;
    border-radius: 2rem;
    &__title {
        font-size: 3rem;
        font-family: $font-cormorant;
        margin-top: 0;
    }
    &__label {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        display: block;
        margin-left: .6rem;
    }
    &__input {
        border: 1px solid rgba($green, .4);
        border-radius: 2rem;
        padding: 2.2rem 3rem;
        margin-bottom: 2.8rem;
        display: block;
        width: 100%;
        box-sizing: border-box;
        &:focus {
            border: 1px solid rgba($green, 1);
            outline: none;
        }
        &:invalid {
            border: red;
        }
    }
    &__check {
        font-size: 1.2rem;
        color: rgba($green, .6);
        line-height: 1.5;
        max-width: 36rem;
        margin-top: 1.6rem;
        margin-bottom: 0;
    }
    &__link {
        margin-top: 1.5rem;
        padding: 2.3rem 4.9rem;
    }
    &__docs {
        color: rgba($green, .6);
        text-decoration: none;
        border-bottom: 1px solid #ecedee;
        cursor: pointer;
    }
}