@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap');

$green: #27300f;
$orange: #d26a22;
$white: #fff;

$font-jost: 'Jost', sans-serif;
$font-cormorant: 'Cormorant', serif;;

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: $font-jost;
    color: $green;
    background-color: #d26a22;
}

.header {
     max-width: 1440px;
     margin: 0 auto 4.7rem;
     padding: 4rem 15px 0 15px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     &__menu  {
         flex-basis: 57%;
     }
     &__nav {
         display: flex;
         list-style-type: none;
         margin: 0;
         padding-left: 0;
         gap: 4.8rem;
     }
     &__link {
         color: $green;
         text-decoration: none;
         &:hover {
             color: $orange;
         }
     }
     &__tel {
        color: $green;
        font-weight: 500;
        text-decoration: none;
        font-size: 18px;
        &:hover {
            color: $orange;
        }
     }
     &__cart {
         display: block;
         width: 4rem;
         height: 4rem;
         border-radius: 100%;
         background-color: $orange;
         background-image: url(../images/cart.svg);
         background-repeat: no-repeat;
         background-position: center center;
         background-size: 1.7rem 1.5rem;
         position: relative;
         border: 1px solid $orange;
         &:hover {
            background-color: $green;
            border: 1px solid $green;
        }
     }
     &__counter {
         font-size: .8rem;
         color: $white;
         position: absolute;
         right: 1rem;
         top: .6rem;
     }
}
.logo {
    display: block;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 12rem;
    height: 3.2rem;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.main {
    background-image: url(../images/main.png);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 187px;
    z-index: 0;
    &__text {
        padding-top: 4.2rem;
    }
    &__item {
        margin-left: 12rem;
        max-width: 378px;
        margin-top: 6rem;
    }
    &__link {
        margin-top: 5.7rem;
    }
    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }
    &__cover {
        flex-basis: 758px;
        height: 758px;
        border: 1px solid rgba($green, .4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    &__line {
        width: 656px;
        height: 656px;
        border: 1px solid rgba($green, .4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__image {
        width: 92%;
    }
    &__btn {
        background-color: transparent;
        border: none;
        padding: 0;
        position: absolute;
        color: $green;
        text-align: left;
        &:hover {
            &::before {
                background-color: $orange;
                box-shadow: 0 0 0 4px $white, 0 0 0 5px $orange;
            }
        }
        &::before {
            content: '';
            position: absolute;
            background-color: $green;
            width: 11px;
            height: 11px;
            box-shadow: 0 0 0 4px $white, 0 0 0 5px $green;
            border-radius: 100%;
        }
        &_1 {
            top: 46px;
            left: 66px;
            &::before {
                bottom: 9px;
                right: -35px;
            }
        }
        &_2 {
            top: 194px;
            right: 4px;
            &::before {
                top: 17px;
                right: 88px;
            }
        }
        &_3 {
            bottom: -48px;
            right: 246px;
            &::before {
                bottom: 55px;
                right: 30px;
            }
        }
    }
    &__food {
        display: block;
        color: rgba($green, .8);
        padding-bottom: 5px;
    }
    &__tomato {
        position: absolute;
        bottom: 110px;
        right: 111px;
        width: 11rem;
        z-index: -1;
    }
    &__avocado {
        position: absolute;
        top: 51px;
        right: 11px;
        width: 15rem;
        z-index: -1;
    }
    &__cucumber {
        position: absolute;
        top: 0;
        left: 680px;
        width: 8.5rem;
        z-index: -1;
    }
    &__pepper {
        position: absolute;
        top: 398px;
        left: 29px;
        width: 8.6rem;
        z-index: -1;
    }
    &__beans {
        position: absolute;
        bottom: 152px;
        left: -9px;
        width: 11.5rem;
        z-index: -1;
    }
}
.title {
    font-family: $font-cormorant;
    font-weight: 700;
    font-size: 8rem;
    line-height: 1;
    margin: 0;
    &__span {
        font-style: italic;
    }
    &_block {
        .title__span {
            display: block;
        }
    }
}
.description {
    margin: 0;
    line-height: 1.5;
    &_size-s {
        font-size: 1.8rem;
    }
    &_size-m {
        font-size: 2.4rem;
    }
}
.link {
    color: $white;
    letter-spacing: 0.13rem;
    text-transform: uppercase;
    padding: 2.3rem 4.3rem;
    background-color: $orange;
    box-shadow: 0px 1rem 1.1rem 0.2rem rgba(207, 92, 13, 0.2);
    text-decoration: none;
    border-radius: 3.8rem;
    display: inline-block;
} 

.offer {
    background-image: url(../images/offer.png);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    padding-top: 2rem;
    padding-bottom: 200px;
    &__text {
        margin-top: 6rem;
        max-width: 700px;
    }
    &__slider {
        overflow: hidden;
        padding-top: 100px;
    }
}

.swiper {
    overflow: initial;
    &-slide {
        border: 1px solid rgba($green, 0.4);
        border-radius: 2rem;
        padding: 4rem 3.7rem;
        box-sizing: border-box;
        height: 520px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        &__title {
            font-family: $font-cormorant;
            font-size: 3rem;
            color: $green;
            margin-bottom: 1rem;
        }
        &__text {
            color: rgba($green, .7);
            line-height: 1.5;
            margin-bottom: 3.4rem;
            max-width: 263px;
        }
        &__link {
            text-transform: uppercase;
            font-weight: 500;
            color: $green;
            text-decoration: none;
            display: flex;
            align-items: center;
            gap: 2rem;
            letter-spacing: 0.1rem;
            opacity: .8;
            &::before {
                content: '';
                display: block;
                width: 3rem;
                height: 3rem;
                background-image: url(../images/plus.svg);
                background-size: cover;
                background-repeat: no-repeat;

            }
        }
    }
    &-pagination {
        display: none;
    }
    &-button-next, &-button-prev {
        top: -60px;
        &:hover {
            &::after {
                color: rgba($green, 1);
            }
        }
        &::after {
            color: rgba($green, .4);
            font-size: 20px;
        }
    }
    &-button-next {
        right: -8px;
    }
    &-button-prev {
        left: initial;
        right: 100px;
    }
}